<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.ryujm.spring.test.ajax.repository.BookingRepository">
	<select id="selectBookingList" 
	resultType="com.ryujm.spring.test.ajax.domain.Booking">
		SELECT
			`name`
			, `headcount`
			, `day`
			, `date`
			, `phoneNumber`
			, `state`
		FROM
			`booking`
	</select>
	<insert id="insertBooking" parameterType="map">
		INSERT INTO
			`booking`
			(
				`name`
				, `date`
				, `day`
				, `headcount`
				, `phoneNumber`
			)
			VALUE
			(
				#{name}
				, #{date}
				, #{day}
				, #{headcount}
				, #{phoneNumber}
			)
	</insert>
</mapper>