<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.ryujm.spring.test.mybatis.repository.RealEstateRepository">
	<select id="selectRealEstate" parameterType="int"
			resultType="com.ryujm.spring.test.mybatis.domain.RealEstate">
		SELECT
			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE
			`id` = #{id}
	</select>
	<select id="selectRealEstate1" parameterType="int"
			resultType="com.ryujm.spring.test.mybatis.domain.RealEstate">
		SELECT
			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE
			`rentPrice` &lt; #{rentPrice}
			
	</select>
	<select id="selectRealEstate2" parameterType="map"
			resultType="com.ryujm.spring.test.mybatis.domain.RealEstate">
		SELECT
			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE
			<![CDATA[`area` >= #{area} AND `price` <= #{price} AND `type` = '매매']]>
		ORDER BY `id` DESC
	</select>
	<insert id="createRealEstateByObject" 
	parameterType="com.ryujm.spring.test.mybatis.domain.RealEstate">
		INSERT INTO
		`real_estate`
		(
			`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
		)
		VALUE
		(
			#{realtorId}
			,#{address}
			,#{area}
			,#{type}
			,#{price}
		)
	</insert>
	<insert id="createEstate"
			parameterType="map">
		INSERT INTO
		`real_estate`
		(	`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
		)
		VALUE
		(	#{realtorId}
			, #{address}
			, #{area}
			, #{type}
			, #{price}
			, #{rentPrice}
		)
	</insert>
	<update id="updateRealEstate" parameterType="int">
				UPDATE 
					`real_estate`
				SET
					`type` = #{type}
					,`price` = #{price}
					,`updatedAt` = now()
				WHERE
					`id` = #{id}	
	</update>
	<delete id="deleteRealEstate"
			parameterType="map">
		DELETE FROM 
			`real_estate` 
		WHERE `id` = #{id}
	</delete>
</mapper>
